body {
    background-color: silver;
}

h1#title {
    color: red;
}

.body-text {
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.body-text strong {
    background-color: sienna;
}

.second-para {
    background-color: seagreen;
    font-style: italic;
}